body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: 3px solid black;

}

.row1,
.row3 {
    display: flex;
    flex: 3;
    border: 1px solid black;
}

.block1,
.block3 {
    display: flex;
    flex: 3;
    border: 1px solid black;
}

.block2 {
    display: flex;
    flex: 2;
    flex-direction: column;
    border: 1px solid black;

}

.row2 {
    display: flex;
    flex: 2;
    border: 1px solid black;
}

.row2 .block1 .block3 {
    display: flex;
    flex-direction: row;
}
.row2 .block2{
    display: flex;
    justify-content: center;
   
}

.box,
.innerbox {
    display: flex;
    flex: 1;
    border: 1px solid black;
}

.block1 .box,
.block3 .box {
    display: flex;
    flex-direction: column;
}

.innerblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: white;
    
}
.circle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    width: 90%;
  
}
.circlebox{
    display: flex;
    flex: 1;
   height: 100%;
   width: 60%;
    
}
.innercircle{

    display: flex;
    flex: 2;
    border: 1px solid black;
    border-radius: 50%;
}
.sqr{
    height:0vh;
    width:0vw;
    background-color: black;
                               border-top:13vh solid green;
                               border-bottom:13vh solid blue;
                               border-left :10vw solid red;
                               border-right:10vw solid yellow;
}